body {
    background-image:url(/imgs/Galaxy\ night.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    background: #fff;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    border-radius: 100%;
}

.ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.answer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-text {
    font-size: 14px;
    text-align: center;
    color:#fff;
}

#askButton {
    margin-top: 300px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}

#askButton:hover {
    margin-top: 300px;
    padding: 10px 20px;
    background-color: #b3ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}

.styling {
    background-color: #fff;
    font-size: 20px;
}

